.footer {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #fff;
    bottom: 0;
    opacity: 0.95;
    clear: both;
}

.footer-text {
    display: inline-block;
    font-weight: bold;
    margin: 20px;
    color: black;
}

.footer-text a {
    text-decoration: none;
    color: black;
}

@media (max-width: 640px) {
    .footer{
        position: inherit;
        opacity: 1;
        width: auto;
        bottom: auto;
    }
}