.wrapper {
    min-height: 100%;
    position: relative;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding-bottom:100px;
}

.container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.column-40 {
    width: 40%;
    float: left;
}

.column-60 {
    width: 60%;
    float: left;
}

.column-33 {
    width: 33.3%;
    float: left;
    background: #555555;
    opacity: 0.85;
}

.сar-image {
    width: 100%;
    height:auto;
    border-radius: 10px;
}

@media (max-width: 960px) {
    .column-33 {
        float:none;
        width: auto;
    }
    
}

@media (max-width: 640px) {
    .column-40,
    .column-60 {
        float:none;
        width: auto;
    }
    
    .wrapper {
        padding-bottom: 0;
    }

}